body {
  font-family: "Noto Sans JP", sans-serif;
  max-width: 1280px;
  margin: auto;
  background-color: #fafafa;
}

header {
  color: #2a2a31;
  padding: 20px 10px 0px 10px;
}

main {
  padding: 20px 10px 0px 10px;
}

h1 {
  color: #2a2a31;
  font-weight: normal;
  padding-top: 0.5em;
}

p {
  color: #2a2a31;
  line-height: 1.75em;
}

li {
  color: #2a2a31;
  line-height: 1.75em;
}

.profile-container {
  display: flex;
  align-items: center;
}
.profile-icon {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin: 0.5em 1em;
}
.profile-content {
  margin: 0em 1em;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
  }

  li {
    font-size: 0.875rem;
  }

  .profile-container {
      display: block;
  }
}