body {
  font-family: "Noto Sans JP", sans-serif;
  max-width: 1280px;
  margin: auto;
  background-color: #fafafa;
}

header {
  color: #2a2a31;
  padding: 20px 10px 0px 10px;
}

main {
  padding: 20px 10px 0px 10px;
}

h1 {
  color: #2a2a31;
  font-weight: normal;
  padding-top: 0.5em;
}

p {
  color: #2a2a31;
}

li {
  color: #2a2a31;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: x-large;
  }

  p {
    font-size: small;
  }

  li {
    font-size: small;
  }
}